body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Rubik", sans-serif;
}

body:not(.dark-theme) {
  background-image: url("./assets/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-color: #f4f6fa;
}

body.dark-theme {
  color: #fff;
  background-color: #313e51;
  background-image: url("./assets/images/pattern-background-desktop-dark.svg");
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
}
#quiz-category {
  position: absolute;
  left: 197px;
  top: 120px;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
}
#theme-style {
  position: absolute;
  right: 50px;
  top: 90px;
  display: flex;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a928f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a928f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 44px;
}

.slider.round:before {
  border-radius: 50%;
}

#first-h1 {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 400;
}
#sec-h1 {
  position: absolute;
  top: 34%;
  left: 29%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 250%;
}

#welcome p {
  position: absolute;
  top: 44%;
  left: 26%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-weight: 500;
  color: #7c8da1;
}
.options {
  display: flex;
  color: inherit;
  flex-direction: column;
  gap: 30px;
  width: 570px;
  top: 120px;
  position: absolute;
  right: 190px;
  justify-content: space-around;
}

.options label {
  font-family: Arial;
  size: 28px;
  font-weight: bold;
  background-color: #ffffff;
  color: inherit;
  border-radius: 20px;
  height: 70px;
  align-content: center;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  transition: 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.option-label {
  width: 46px;
  height: 46px;
  background-color: #f4f6fa;
  color: #626c7f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  margin: p;
}


.dark-theme .options label {
  background-color: #3c4d67;
  color: inherit;
}
 .options label:hover {
  animation: shake 0.4s ease-in-out; /* Apply shake animation on hover */
}
#opt-sub-but .options .highlight {
 border-style:solid;
 border-color: #a928f4;
}
.option-label.highlight {
  background-color: #9414df;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Hide the default radio button */
.options input[type="radio"] {
  display: none;
}

#submit-answer,
#next-question {
  font-family: "Arial";
  font-weight: 700;
  background-color: inherit;
  color: inherit;
  border-radius: 20px;
  height: 70px;
  width: 560px;
  border-style: none;
  position: absolute;
  align-content: center;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #a928f4;
  bottom: 130px;
  right: 198px;
}

#submit-answer:hover {
  background-color: #ce99ec;
}
.alert-message::before {
  position: absolute;
  top: -6px;
  right: 205px;
  height: 40px;
  width: 40px;
  content: url("./assets/images/icon-incorrect.svg");
}
#alert {
  position: absolute;
  right: 335px;
  height: 40px;
  width: 200px;
  bottom: 70px;
}

.options label.correct {
  border-style: solid;
  border-color: #4caf50;
}
.options label.correct::after {
  content: url("./assets/images/icon-correct.svg");
  position: absolute;
  justify-content: center;
  left: 90%;
}

.options label.wrong {
  border-style: solid;
  border-color: red;
}
.options label.wrong::after {
  content: url("./assets/images/icon-incorrect.svg");
  position: absolute;
  justify-content: center;
  left: 90%;
}

#app {
  width: 500px;
  margin: 110px auto;
  margin-left: 45%;
  border-radius: 10px;
  padding: 20px;
  height: 100px;
}

#quiz-menu li {
  width: 100%;
  height: 65px;
  margin: 17px;
  position: relative;
}

.butt-image-h,
.butt-image-c,
.butt-image-j,
.butt-image-a {
  position: absolute;
  top: 3px;
  left: 10%;
  transform: translateX(-50%);
  border-radius: 15%;
  border-style: none;
  margin-top: 2%;
  background-color: #fbf3e6;
}

.butt-image-h img,
.butt-image-c img,
.butt-image-j img,
.butt-image-a img {
  width: 45px;
  height: 40px;
}
.butt-image-h {
  background-color: #fbf3e6;
}
.butt-image-c {
  background-color: #e1fdf1;
}
.butt-image-j {
  background-color: #e3effd;
}
.butt-image-a {
  background-color: #ffeaff;
}

#quiz-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.quiz-button {
  background-color: inherit;
  border-radius: 20px;
  width: 500px;
  color: inherit;
  height: 70px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ffffff;
}
.quiz-button:hover {
  background-color: #82858b;
  color: #fff;
}

.dark-theme .quiz-button {
  background-color: #3c4d67;
  color: #fff;
}

#question-wrapper {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
#question-div {
  position: absolute;
  margin-right: 1080px;
  top: 230px;
  width: 450px;
}

#quiz-completed {
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 420px;
}
.dark-theme #quiz-completed{
  background-color: #3B4D66;
}
#quiz-complted-text{
  position: absolute;
  left: 340px;
  bottom: 420px;
 display: flex;
 font-weight: 200;
 font-size: 40px;
}
#quiz-complted-text-two{
  position: absolute;
  left: 350px;
  bottom: 380px;
  display: flex;
  font-size: 35px;
}
.score-divider {
  position: relative;
  top: 8px;
  font-size: 40px;
  color: #314362;
}
.score-details{
  font-size: 30px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-details-top{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.score-details img{
  background-color:#FFFFFF;
}
.question-count {
 position: relative;
  left: 10px;
}
.dark-theme .score-divider{
 color: #ABC1E1;
}
.score-main{
  font-size: 120px;
  line-height: 144px;
  color: #313E51;
  top: 40px;
}
.dark-theme .score-main{
  color: #FFFFFF;
}
#play-again {
  padding: 10px 25px;
  background-color: #9414df;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 500px;
  height: 70px;
  left: 46%;
  top: 610px;
  position: absolute;
  &:hover {
    background-color: #b54bf3;
  }
}

#score {
  margin-bottom: 120px;
  font-size: 60px;
}

#loader-wrapper {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
}

#loader {
  height: 100%;
  background-color: #a928f4;
  width: 0%;
  transition: width 0.5s ease-in-out;
  border-radius: 20px;
  margin-top: 20px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  #welcome p {
    bottom: 390px;
    margin-left: 70px;
  }
  #first-h1 {
    left: 450px;
    bottom: 330px;
    font-size: 30px;
  }
  #sec-h1 {
    margin-left: 150px;
  }
  #quiz-menu {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #quiz-menu ul {
    list-style: none;
    padding: 20px;
    margin-right: 170px;
  }
  #quiz-menu ul li {
    margin-bottom: 10px;
  }
  #theme-style {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    gap: 10px;
  }
  #question-div {
    position: absolute;
    margin-left: 10px;
    top: 190px;
    width: 450px;
  }
 
  .options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 490px;
    top: 170px;
    position: absolute;
    margin-right: 30px;
    justify-content: space-around;
  }
  #submit-answer-container {
    position: absolute;
    margin-right: 40px;
    margin-bottom: 80px;
  }
  #next-question {
    bottom: 18px;
  }
  #quiz-completed {
    position: absolute;
    right: 250px;
    bottom: 130px;
  }
}

@media only screen and (max-width: 699px) {
  /* Adjustments for small phones */
  #welcome p {
    left: 10px;
    top: 100px;
    font-size: 16px;
  }
  #first-h1 {
    font-size: 24px;
    top: 50px;
    left: 10px;
  }
  #sec-h1 {
    font-size: 24px;
    top: 100px;
    left: 10px;
  }
  #quiz-menu {
    position: relative;
    top: 20px;
    left: 10px;
  }
  .quiz-button {
    font-size: 16px;
    width: 200px;
    height: 40px;
  }
  #quiz-menu ul li {
    margin-bottom: 5px;
    left: 10px;
    bottom: -30px;
  }
  #theme-style {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
  }
  #question-div {
    position: relative;
    left: 10px;
    top: 20px;
    width: 90%;
  }
  .options {
    position: relative;
    width: 90%;
    top: 20px;
    left: 10px;
  }
  #submit-answer {
    width: 90%;
    height: 30px;
  }
  #submit-answer-container {
    position: relative;
    margin-top: 20px;
    left: 10px;
  }
  #next-question {
    width: 90%;
    height: 30px;
    position: relative;
    top: 20px;
    left: 10px;
  }
  #quiz-completed {
    position: relative;
    margin-top: 20px;
    left: 10px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 959px) {
  /* Adjustments for smaller tablets and large phones */
  #welcome p {
    left: 18%;
    top: 355px;
  }
  #first-h1 {
    right: 390px;
    top: 250px;
    font-size: 40px;
  }
  #sec-h1 {
    left: 198px;
    font-size: 40px;
    top: 305px;
  }
  #quiz-menu {
    position: absolute;
    top: 15%;
    left: 30%;
  }
  .butt-image-h,
  .butt-image-c,
  .butt-image-j,
  .butt-image-a {
    position: absolute;
    top: 0px;
    left: 9%;
    transform: translateX(-50%);
    border-radius: 15%;
    border-style: none;
    margin-top: 2%;
    background-color: #fbf3e6;
  }
  .quiz-button {
    font-size: 20px;
    width: 400px;
    height: 50px;
  }
  #quiz-menu ul li {
    margin-bottom: -5px;
    left: 70px;
    bottom: -50px;
  }
  .butt-image-h img,
  .butt-image-c img,
  .butt-image-j img,
  .butt-image-a img {
    width: 25px;
    height: 20px;
  }
  #theme-style {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    gap: 10px;
  }
  #question-div {
    position: absolute;
    left: 100px;
    top: 120px;
    width: 340px;
  }
  .options {
    position: absolute;
    width: 350px;
    height: 195px;
    top: 130px;
    right: 200px;
  }
  #submit-answer {
    width: 300px;
    height: 30px;
  }
  #submit-answer-container {
    position: absolute;
    right: 509px;
    bottom: 140px;
  }
  #next-question {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 5px;
  }
  #quiz-completed {
    position: absolute;
    left: 20%;
    bottom: 10%;
  }
}
