body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Rubik", sans-serif;
}

body:not(.dark-theme) {
  background-image: url("./assets/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-color: #f4f6fa;
}

body.dark-theme {
  color: #fff;
  background-color: #313e51;
  background-image: url("./assets/images/pattern-background-desktop-dark.svg");
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
#quiz-category {
  margin-top: 40px;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
}
#theme-style {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 0px;
}
.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 24px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a928f4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 4px;
  bottom: 3px;
  background-color: rgb(255, 253, 253);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a928f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a928f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 44px;
}

.slider.round:before {
  border-radius: 50%;
}

#body {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#welcome {
  width: 80%;
}
#first-h1 {
  font-size: 50px;
  font-weight: 100;
}
#sec-h1 {
  font-size: 250%;
}

#welcome p {
  font-style: italic;
  font-weight: 500;
  color: #7c8da1;
}
.options {
  display: flex;
  color: inherit;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

.options label {
  font-family: Arial;
  size: 28px;
  font-weight: bold;
  background-color: #ffffff;
  color: inherit;
  border-radius: 20px;
  height: 70px;
  align-content: center;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  transition: 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.option-label {
  width: 46px;
  height: 46px;
  background-color: #f4f6fa;
  color: #626c7f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  margin: p;
}

.dark-theme .options label {
  background-color: #3c4d67;
  color: inherit;
}
.options label:hover {
  animation: shake 0.4s ease-in-out;
}
#opt-sub-but .options .highlight {
  border-style: solid;
  border-color: #a928f4;
}
.option-label.highlight {
  background-color: #9414df;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.options input[type="radio"] {
  display: none;
}

#submit-answer,
#next-question {
  font-family: "Arial";
  font-weight: 700;
  font-size: 20px;
  background-color: inherit;
  color: inherit;
  border-radius: 20px;
  height: 70px;
  width: 560px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 24px;
  border-style: none;
  align-content: center;
  padding: 5px 10px;
  background-color: #a928f4;
}

#submit-answer:hover {
  background-color: #ce99ec;
}
.alert-message::before {
  content: url("./assets/images/icon-incorrect.svg");
}
.alert-message {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options label.correct {
  border-style: solid;
  border-color: #4caf50;
}
.options label.correct::after {
  content: url("./assets/images/icon-correct.svg");
  position: absolute;
  justify-content: center;
  left: 85%;
}

.options label.wrong {
  border-style: solid;
  border-color: red;
}
.options label.wrong::after {
  content: url("./assets/images/icon-incorrect.svg");
  position: absolute;
  justify-content: center;
  left: 85%;
}

#app {
  width: 100%;
  margin-top: 40px;
}

#quiz-menu li {
  width: 100%;
  height: 80px;
  position: relative;
}

.butt-image-h,
.butt-image-c,
.butt-image-j,
.butt-image-a {
  position: absolute;
  top: 10px;
  left: 8%;
  transform: translateX(-50%);
  border-radius: 15%;
  border-style: none;
  background-color: #fbf3e6;
}

.butt-image-h img,
.butt-image-c img,
.butt-image-j img,
.butt-image-a img {
  width: 56px;
  height: 56px;
}
.butt-image-h {
  background-color: #fbf3e6;
}
.butt-image-c {
  background-color: #e1fdf1;
}
.butt-image-j {
  background-color: #e3effd;
}
.butt-image-a {
  background-color: #ffeaff;
}

#quiz-menu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
}

.quiz-button {
  background-color: inherit;
  border-radius: 20px;
  width: 100%;
  color: inherit;
  height: 80px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ffffff;
}
.quiz-button:hover {
  background-color: #82858b;
  color: #fff;
}

.dark-theme .quiz-button {
  background-color: #3c4d67;
  color: #fff;
}

#question-wrapper {
  display: none;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
#question-div {
  width: 40%;
}

#quiz-completed {
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 450px;
  width: 500px;
  margin-left: 650px;
  margin-top: -70px;
}
.dark-theme #quiz-completed {
  background-color: #3b4d66;
}
#quiz-complted-text {
  position: absolute;
  left: 160px;
  top: 380px;
  display: flex;
  font-weight: 200;
  font-size: 70px;
}
#quiz-complted-text-two {
  position: absolute;
  left: 200px;
  top: 470px;
  display: flex;
  font-size: 65px;
}
.score-divider {
  position: relative;
  top: 8px;
  font-size: 40px;
  color: #314362;
}
.dark-theme .score-details {
  font-size: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-details {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-details-top {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.score-details img {
  background-color: #ffffff;
}
.question-count {
  position: relative;
  left: 10px;
}
.dark-theme .score-divider {
  color: #abc1e1;
}
.score-main {
  font-size: 120px;
  line-height: 144px;
  color: #313e51;
  top: 40px;
}
.dark-theme .score-main {
  color: #ffffff;
}
#play-again {
  padding: 10px 25px;
  background-color: #9414df;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 520px;
  height: 90px;
  left: 54%;
  bottom: 60px;
  position: absolute;
  &:hover {
    background-color: #b54bf3;
  }
}

#score {
  margin-bottom: 120px;
  font-size: 60px;
}

#loader-wrapper {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
}

#loader {
  height: 100%;
  background-color: #a928f4;
  width: 0%;
  transition: width 0.5s ease-in-out;
  border-radius: 20px;
  margin-top: 20px;
}

/* -------------------
    TABLET SCREEN 
    ---------------------*/

@media only screen and (min-width: 568px) and (max-width: 924px) {
  #app {
    width: 100%;
    margin: 10px;
    margin-left: 0;
    margin-top: 40px;
  }
  #welcome p {
    font-size: 20px;
  }
  #question-wrapper {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
  }
  #first-h1 {
    margin-block: 0;
  }
  #sec-h1 {
    margin-block: 0;
  }
  #quiz-menu {
    display: flex;
  }
  #quiz-menu ul {
    list-style: none;
  }

  #theme-style {
    display: flex;
    gap: 10px;
  }
  #question-div {
    width: 100%;
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
  }

  #submit-answer,
  #next-question {
    font-family: "Arial";
    font-weight: 700;
    background-color: inherit;
    color: inherit;
    border-radius: 20px;
    height: 70px;
    width: 500px;
    padding: 5px 10px;
    margin-left: 40px;
    margin-top: 10px;

    border-style: none;
    align-content: center;
    padding: 5px 10px;
    background-color: #a928f4;
  }

  .options label.correct::after {
    content: url("./assets/images/icon-correct.svg");
    position: absolute;
    justify-content: center;
    left: 70%;
  }

  .options label.wrong::after {
    content: url("./assets/images/icon-incorrect.svg");
    position: absolute;
    justify-content: center;
    left: 70%;
  }
  #quiz-completed {
    position: absolute;
    right: 250px;
    bottom: 280px;
    width: 290px;
    height: 300px;
  }
  .score-details {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .score-details-top {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
  .score-details img {
    background-color: #ffffff;
  }
  .question-count {
    position: relative;
    left: 10px;
  }
  .dark-theme .score-divider {
    color: #abc1e1;
  }
  .score-main {
    font-size: 90px;
    line-height: 144px;
    color: #313e51;
    top: 40px;
  }
  .dark-theme .score-main {
    color: #ffffff;
  }
  span.score-divider {
    top: -110px;
  }
  #quiz-complted-text {
    position: absolute;
    left: 40px;
    top: -140px;
    display: flex;
    font-weight: 200;
    font-size: 30px;
  }
  #quiz-complted-text-two {
    position: absolute;
    left: 50px;
    top: -100px;
    display: flex;
    font-size: 25px;
  }
  #play-again {
    padding: 10px 25px;
    background-color: #9414df;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 290px;
    height: 30px;
    left: 4%;
    bottom: -140px;
    position: absolute;
    &:hover {
      background-color: #b54bf3;
    }
  }
}

@media only screen and (min-width: 344px) and (max-width: 690px) {
  body {
    overflow: hidden;
  }

  .options label {
    width: 100%;
  }

  #welcome {
    width: 100%;
  }

  .options label.correct::after {
    content: url("./assets/images/icon-correct.svg");
    position: absolute;
    justify-content: center;
    left: 65%;
  }

  .options label.wrong::after {
    content: url("./assets/images/icon-incorrect.svg");
    position: absolute;
    justify-content: center;
    left: 65%;
  }

  #question-wrapper {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
  }
  .butt-image-h,
  .butt-image-c,
  .butt-image-j,
  .butt-image-a {
    position: absolute;
    top: 10px;
    left: 7%;
    transform: translateX(-50%);
    border-radius: 15%;
    border-style: none;
    background-color: #fbf3e6;
  }
  .quiz-button {
    font-size: 20px;
    width: 100%;
    height: 70px;
  }
  #quiz-menu ul li {
    width: 100%;
  }
  .butt-image-h img,
  .butt-image-c img,
  .butt-image-j img,
  .butt-image-a img {
    width: 45px;
    height: 45px;
  }
  #theme-style {
    display: flex;
    gap: 10px;
  }
  #question-div {
    width: 100%;
  }
  .options {
    width: 450px;
    height: 300px;
  }
  #submit-answer,
  #next-question {
    font-family: "Arial";
    font-weight: 700;
    background-color: inherit;
    color: inherit;
    border-radius: 20px;
    height: 60px;
    width: 460px;
    padding: 5px 10px;
    margin-left: 15px;
    margin-top: 40px;
    border-style: none;
    align-content: center;
    padding: 5px 10px;
    background-color: #a928f4;
  }
  #quiz-completed {
    position: absolute;
    left: 20%;
    bottom: 10%;
  }

  #quiz-completed {
    position: absolute;
    right: 250px;
    bottom: 280px;
    width: 290px;
    height: 300px;
  }
  .score-details {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .score-details-top {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
  .score-details img {
    background-color: #ffffff;
  }
  .question-count {
    position: relative;
    left: 10px;
  }
  .dark-theme .score-divider {
    color: #abc1e1;
  }
  .score-main {
    font-size: 90px;
    line-height: 144px;
    color: #313e51;
    top: 40px;
  }
  .dark-theme .score-main {
    color: #ffffff;
  }
  span.score-divider {
    top: -110px;
  }
  #quiz-complted-text {
    position: absolute;
    left: 40px;
    top: -140px;
    display: flex;
    font-weight: 200;
    font-size: 30px;
  }
  #quiz-complted-text-two {
    position: absolute;
    left: 50px;
    top: -100px;
    display: flex;
    font-size: 25px;
  }
  #play-again {
    padding: 10px 25px;
    background-color: #9414df;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 290px;
    height: 30px;
    left: 4%;
    bottom: -40px;
    position: absolute;
    &:hover {
      background-color: #b54bf3;
    }
  }
}
